build/unix/*.eo
build/unix/*.o
build/unix/pfdicdat.h
build/unix/pforth
build/unix/pforth.dic
build/unix/pforth_standalone
build/win32/**/.vs
build/win32/**/Debug
build/win32/**/Release
fth/fatest1.txt
fth/pforth.dic
**/.DS_Store

build/aarch64-rpi3/*.eo
build/aarch64-rpi3/*.o
build/aarch64-rpi3/pfdicdat.h
build/aarch64-rpi3/pforth
build/aarch64-rpi3/pforth.dic
build/aarch64-rpi3/pforth_standalone.elf
